body{
    margin: 0;
}

nav{
    width: 100%;
    height: 13vh;
    
    margin: 0;
    
    box-shadow: 1px 0px 10px rgb(109, 109, 109);

    z-index: 999;
    position: fixed;
}

#tete{
    background-color: rgb(29, 29, 29);
    position: fixed;
    width: 25%;
    height: 13vh;
    top: 0;
    left: 0;
    

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    z-index: 1000;
}

#tete2{
    background-color: rgb(29, 29, 29);
    position: fixed;
    list-style-type: none;
    width: 75%;
    height: 13vh;
    right: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;

    z-index: 1000;
}


#icon-menu{
    height: 4vh;
}

#owlescape-brand{
    height: 10vh;
}


/*-----------------------------------------------------------*/

#main-box-contener{
    width: 100%;
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 13vh;
}

#main-box{
    width: 50vw;
    height: 70vh;
    padding: 2vw;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(199, 199, 199, 0.5);
}



#tete-formulaire{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}




h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.5vh;
    margin: 15px 0px 0px 0px;
}

#to-connexion{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.25vh;
}

#lien-connexion{
    margin-left: 5px;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.colonne{
    width: 24vw;
    height: 70vh;
}








.item-formulaire{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.item-formulaire label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5vh;
    margin: 5px 0px;
}

.red-text{
    color: red;
}

.item-formulaire input, .item-formulaire select{
    border: solid 1px rgb(180, 180, 180);
    border-radius: 2px;
    height: 4.5vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: rgb(34, 34, 34);
}



#btn_submit{
    height: 7vh;
    width: 85%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 3vh;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    color: #2B3467;
    background-color: #BAD7E9;
}